.conteiner {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 50%;
    margin-left: 50%;
    margin-bottom: 50%;
    margin-right: 50%;
    background-color: blue;
}
.firstCubo {
    /* position: absolute; */
    background-color: red;
    width: 90px;
    height: 290px;
}
.secondtCubo {
    background-color: red;
    width: 260px;
    height: 90px;
}