.EventsPaginatedContainner {
    width: 100%;
    /* height: 950px; */
    margin: 0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EventsCardsContainner {
    width: 100vw;
    /* height: 110vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1vh;   
}

.paginatedContainner {
    width: 100%;
}