.logoContainner {
  width: 100%;
  height: 11.375rem;
  background: -o-linear-gradient(331.02deg, #ed4690 -2.11%, #5522cc 63.58%);
  background: linear-gradient(118.98deg, #ed4690 -2.11%, #5522cc 63.58%);
  display: flex;
}

.logo {
  width: 200px;
  height: 150px;
  margin-left: 20px;
}

.formContainer {
  width: 60em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 47.38px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  position: relative;
  top: -5em;
  padding-bottom: 2em;
}

.pageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleForm {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  color: #242565;
  width: 75%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.formContent {
  width: 80%;
}

.formHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin-bottom: 1em;
}

.imgPreview {
  width: 30em;
}

.stocks {
  display: flex;
  flex-direction: column;
}

.stockItem {
  display: flex;
  flex-direction: row;
  margin: 1em;
}
.input {
  width: 15rem;
  height: 2.5em;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;

  padding: 2%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: calc(0.45rem + 0.45vw);
}

.warning {
  color: red;
  text-decoration: solid;
  font-weight: 500;
}

.bttnsubmit {
  background: #242565;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-family: Poppins;
  /* font-weight: 700; */
  font-size: 1rem;
  line-height: 23px;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  width: 60%;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error {
  color: red;
  font-size: small;
}

.stars {
  display: flex;
  flex-direction: column;
}
.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}


.bttnContainner {
  width: 100%;
  height: 100%;
  /* padding: 0.1rem; */
}

.backBttn {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #E0E0E0;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
}

.backBttn:hover {
  background-color: #969696;
  color: #ffffff;
  transition: 0.35s;
}