html{
    scroll-behavior: smooth;
}

.scroll {
    margin: 0px;
    /* width: 1080px;   */
    display: flex;
    justify-content: center;
}

.title {
    margin: 0px 0px;
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
    font-family: Poppins;
    width: 1080px;
    height: 40px;
}