.navbarExterno {
    position: relative;
    /* width: 50%; */
    /* right: -880px; */
    bottom: 720px;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}


.navegacion{
    display: flex;
}

.navegacion ul {
    display: flex;
    margin: 50px 20px ;
   
}

.navegacion ul li {
    margin: 0 15px;
    width: 120px;
    padding: 8px 0;
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    display: block;
}

.navegacion ul li:hover {
    background: #5522CC 63.58%;
}

.link {
    text-decoration: none;
    color: white;
}

.button {
    padding: 8px 38px;
    width: 30px;
    height: 20px;
    border: 1.5px solid #FFFFFF;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    margin-top: 50px;
    margin-right: 200px;
    padding: 8px 40px;
    text-align: end;
    display: flex;
    justify-content: center;
}

.button:hover{
    background: #5522CC 63.58%;
    color: white;
}