.cardEvent {
    width: 343px;
    height: 360px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: #FFFFFF;
    filter: drop-shadow(0px 18.9529px 47.3822px rgba(119, 115, 170, 0.1));
    border-radius: 18.9529px;
    font-family: Poppins;
}

.cardEvent:hover {
    transform: scale(1.05);
    transition: 0.8s;
}

.cardEvent a {
    width: 100%;
    height: 90%;
    text-decoration: none;
}

.buybttn {
    width: 100%;
    height: 10%;
}

.imgContainner {
    height: 50%;
    width: 100%;
    /* position: relative; */
    /* background-image: url('../../assets/images/cardImage.png'); */
    background-size: 100%;
}

.imgContainner img {
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 18.9529px;
    border-top-right-radius: 18.9529px;
    /* border-top: 18.9529px;; */
    object-fit: cover;
}

.infoContainner {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px 10px
}

.info {
    display: flex;
    /* margin: 5px 5px; */
    align-items: center;
}

/* ------------------------------------- */

.titleEvent {
    margin: 0px 0px;
    width: auto;
    /* width: 333px; */
    height: 35px;
    font-size: 22px;
    color: black;
    position: static;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.info p {
    margin-left: 7px;
    color: #6A6A6A
}

p {
    margin: 0px;
}

.buybttn {
    border-bottom-left-radius: 18.9529px;
    border-bottom-right-radius: 18.9529px;
    border: none;
    background-color: #242565;
    font-size: large;
    font-weight: bold;
    color: #FFFFFF;
}

.buybttn:hover {
    border-bottom-left-radius: 18.9529px;
    border-bottom-right-radius: 18.9529px;
    border: 3px solid #242565;
    border-color: #242565;
    background-color: #ffffff;
    font-size: large;
    font-weight: bold;
    color: #242565;
    cursor: pointer;
}
/* 
.bttnHeart {
    display: flex;
    position: absolute;
    top: 15px;
    left: 305px;
    background:none;
    border: none;
    cursor: pointer;
}

.heart {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.heartSelected {
    width: 20px;
    height: 20px;
    color: #F5167E;
} */

.soldOut {
    border-bottom-left-radius: 18.9529px;
    border-bottom-right-radius: 18.9529px;
    border: none;
    background-color: #FF5050;
    font-size: large;
    font-weight: bold;
    color: #FFFFFF;
}

.lastTickets {
    border-bottom-left-radius: 18.9529px;
    border-bottom-right-radius: 18.9529px;
    border: none;
    background-color: darkkhaki;
    font-size: large;
    font-weight: bold;
    color: #FFFFFF;
}