.DateRangePicker div {
  border-radius: 50px !important;
  /* color: #000 !important; */
  display: flex;
  align-items: center;
  margin: 0.2vw;
}
.DateRangePickerInput__withBorder {
  background-color: #f2f4ff !important;
  border-style: none;
}

.DateInput_input {
  text-align: center;
  padding: 0px;
  height: 42px;
  border-radius: 50px !important;
}

.DateRangePicker input {
  background-color: #f2f4ff !important;
  border-radius: 50px;
  font-family: "DM Sans", sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #000 !important;
  max-height: 46px;
}

.FilterContainner {

  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px;
  font-family: "DM Sans", sans-serif;
  background-color: #242565;
  border-radius: 15px;
}

.select-contein select {
  text-align: center;
  height: 42px;
  width: 168px;
  background-color: #f2f4ff;
  border-radius: 50px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  border: none;
}

.FilterBox {
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FilterTitle {
  margin: 0px 0px;
  position: static;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  font-family: Poppins;
}

h2{
  font-size:3.5vw;
  margin-left: 0.9vw;
}

#UpcomingEvents {
  width: 50%;
}

.Filters {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #000;
}

.botonFilter {

  height: 42px;
  width: 150px;
  font-family: Poppins;
  background-color: #f2f4ff;
  border-radius: 50px;
  border-style: none;
  color: #484848;
  font-size: 1.8vw;
  cursor: pointer;
  margin-right: 0.9vw;
}
.botonFilter:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
