
.DateRangePicker div {
  border-radius: 50px !important;
  color: #000 !important;
} 
 .DateRangePickerInput__withBorder{
  background-color: #F2F4FF !important;
  border-style: none;
} 
 
.DateInput_input{
  text-align: center;
  
  padding: 0px;
  height: 42px;
  border-radius: 50px !important;
}


 .DateRangePicker input {
  background-color: #F2F4FF !important;
  border-radius: 50px;
  font-family: 'DM Sans', sans-serif !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #000 !important;
  max-height: 46px;
  

}

.Filter {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 15px;
  font-family: 'DM Sans', sans-serif;
}

.select-contein select {
  text-align: center;
  height: 42px;
  width: 168px;
  background-color: #F2F4FF  ;
  border-radius: 50px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  border: none;
}