.navegacion {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 30%;
    background: -o-linear-gradient(331.02deg, #ED4690 -2.11%, #5522CC 63.58%);
    background: linear-gradient(118.98deg, #ED4690 -2.11%, #5522CC 63.58%);
}

.logoContainner {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 34vw;
    display: flex;

}

.titleForm {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    color: #242565;
    /* width: 100; */
    margin-top: 10px;
    margin-bottom: 20px;
}

.formContainner {
    width: 550px;
    padding: 3%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 47.38px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.authError {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 35px; */
    margin-bottom: 10px;
    font-size: 1rem;
    color: #F5167E;
    font-family: 'Roboto';
}

.formContent {
    /* height: 180px; */
    display: flex;
    flex-direction: column;
}

.register {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.registerBttn {
    background: #FFFFFF;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #242565;
    border-color: #242565;
    color: #242565;
    font-family: Poppins;
    /* font-weight: 700; */
    font-size: 1rem;
    line-height: 23px;
    padding: 0.375rem 0;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
}

.registerBttn:hover{
    color: #242565;
    box-shadow: 3px 3px #24256580
}

/* .registerBttn a {
    width: ;
} */

.bttnContainner {
    width: 100%;
    height: 100%;
    /* padding: 0.1rem; */
}

.backBttn {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E0E0E0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color:#242565;
}
.backBttn a{
    text-decoration: none;
}

.backBttn:hover {
    background-color: #969696;
    color: #ffffff;
    transition: 0.35s;
}
.forget {
    font-size: 16px;
    color: #7209b7;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}
.forget p {
    margin-top: 15px;
}

.googleLogin{
    margin-bottom: 10px;
    width: 100%;
    border-radius: 8px;
    /* border: .5px solid rgba(36, 37, 101, 0.502);
    box-shadow: 2px 2px #24256580;
    padding:0; */
    border: 2px 

}

.googleLogin:hover{
    /* border: 1px solid #242565 */
    box-shadow: 3px 3px #24256580
}

.googleLogin button {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border-radius: 8px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .pageContainner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo {
        width: 120px;
        height: 90px;
        margin-left: 5px;
    }
    .logoContainner {
        width: 100%;
        height: 90px;
        background: -o-linear-gradient(331.02deg, #ED4690 -2.11%, #5522CC 63.58%);
        background: linear-gradient(118.98deg, #ED4690 -2.11%, #5522CC 63.58%);
        display: flex;
    }
    .formContainner {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
        background: #FFFFFF;
        box-shadow: none;
        border-radius: 6px;
        position: static;
        /* top: -10px; */
    }
}

@media (max-width: 575.96px) { 
    .pageContainner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo {
        width: 120px;
        height: 90px;
        margin-left: 5px;
    }
    .logoContainner {
        width: 100%;
        height: 90px;
        background: -o-linear-gradient(331.02deg, #ED4690 -2.11%, #5522CC 63.58%);
        background: linear-gradient(118.98deg, #ED4690 -2.11%, #5522CC 63.58%);
        display: flex;
    }
    .formContainner {
        width: 69%;
        display: flex;
        position: relative;
        top: 28vh;
        margin: 5;
        left: 36vw;
        transform: translate(-50%, -50%);
        box-shadow: 0px 4px 47.38px rgb(0 0 0 / 25%);
        border-radius: 6px;
    }
    .formContent{
        width: 85%;
        display: flex;
        flex-direction: column;
    }
}