.conten {
    width: 730px;
    height: 310px;
    background-color: rgb(119, 209, 96);
    position: relative;
}
.path1 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    fill: #3BA7E3;
}
.path2{
    position: absolute;
    right: 25px;
    bottom: 180px
}
.path3 {
    position: absolute;
    bottom: 25px;
    right: 232px;
}
.path4{
    position: absolute;
    bottom: 28px;
    left: 22px;
}
.path5{
    position: absolute;
    bottom: 180px;
    left: 23px;
}
.path6{
    position: absolute;
    bottom: 130px;
    right: 155px;
}

.path1 :hover{
    stroke: red;
    stroke-width: 2;
}
.path2 :hover{
    stroke: red;
    stroke-width: 2;
}
.path3 :hover{
    stroke: red;
    stroke-width: 2;
}
.path4 :hover{
    stroke: red;
    stroke-width: 2;
}
.path5 :hover{
    stroke: red;
    stroke-width: 2;
}
.path6 :hover{
    stroke: red;
    stroke-width: 2;
}