.inputContainner {
    width: 100%;
    margin: 2% 0;
}

.input {
    width: 28.5rem;
    height: 2.5em;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    /* margin: 2%; */
    padding: 2%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.45rem + 0.45vw);
}

.error {
    font-family: 'Roboto';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 0.9rem;
    color: #F5167E;
    padding-left: 2%;
    text-align: start;
}